ansimarkup==1.4.0
appdirs==1.4.4
asgiref==3.2.10
backports.zoneinfo==0.2.1
boto3==1.15.8
boto3-stubs==1.15.8.0
botocore==1.18.8
botocore-stubs==1.27.26
cachetools==4.1.1
certifi==2020.4.5.1
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.0
colorama==0.4.1
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.2
cryptography==37.0.4
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.0
Django==3.1.2
django-alexa1==0.0.1
django-allauth==0.51.0
django-cors-headers==3.5.0
django-cors-middleware==1.5.0
django-crispy-forms==1.14.0
django-oauth-toolkit==2.1.0
django-rest-framework==0.1.0
django-stubs==1.5.0
django-stubs-ext==0.5.0
django2-alexa==0.1.4
djangorestframework==3.11.0
djangorestframework-stubs==1.1.0
docopt==0.6.2
docutils==0.14
filelock==3.7.1
gunicorn==20.0.4
idna==2.8
imagesize==1.1.0
itypes==1.2.0
Jinja2==2.10
jmespath==0.10.0
jsonfield==3.1.0
jwcrypto==1.3.1
MarkupSafe==1.1.0
mqtt==0.0.1
mypy==0.770
mypy-extensions==0.4.3
oauth2-provider==0.0
oauthlib==3.1.0
packaging==18.0
paho-mqtt==1.5.0
Pillow==9.2.0
platformdirs==2.5.2
psycopg2-binary==2.8.5
pycparser==2.21
pyfcm==1.4.7
Pygments==2.3.1
PyJWT==2.4.0
pyparsing==2.3.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
reportlab==3.5.67
requests==2.24.0
requests-oauthlib==1.3.1
s3transfer==0.3.3
sendotp==0.0.4
six==1.16.0
snowballstemmer==1.2.1
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.1.0
sqlparse==0.3.1
tomli==2.0.1
typed-ast==1.4.3
types-Markdown==3.3.29
types-pytz==2022.1.1
types-PyYAML==6.0.9
types-requests==2.28.0
types-urllib3==1.26.16
typing_extensions==4.3.0
upgrade-requirements==1.7.0
uritemplate==4.1.1
urllib3==1.25.9
virtualenv==20.0.20
wrapt==1.14.1
